// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2{
  color: #02B875;
  text-decoration: none;
  font-family: "Roboto Slab";
  font-weight: 400;
}
